<footer>
  <a href="https://plus.google.com/u/0/113544134561435695482/posts"><i class="fa fa-google-plus fa-2x"></i></a>
  <a href="https://twitter.com/Serhiicss"><i class="fa fa-twitter fa-2x"></i></a>
  <a href="https://www.facebook.com/serhii.borovskyi"><i class="fa fa-facebook fa-2x"></i></a>
  <a href="https://github.com/serhiicss"><i class="fa fa-github fa-2x"></i></a>
  <a href="mailto:serhii.css@gmail.com"><i class="fa fa-envelope fa-2x"></i></a>

  <div class="copyright">&copy; Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> Serhii Borovskyi</div> <!-- Timestamp automatically updates copyright year -->
</footer>
