// ------------- Vars ---------------------
$blue: #03A9F4
$color-text: #888

$color-primary: $color-text
$color-secondary: $blue
$color-invert: #fff
$color-accent: tomato

$font-headings: 'Lato', Helvetica
$font-text: 'Merriweather Sans', Helvetica

*
  box-sizing: border-box

html
  font-size: 62.5%

html, body
  margin: 0
  padding: 0

body
  background-color: #fff
  color: $color-primary
  font-size: 12pt
  font-family: $font-text
  line-height: 1.75em
  margin: 0
  padding: 0
  transition: all 0.5s ease

img
  max-width: 100%
  height: auto

a
  color: $color-secondary
  text-decoration: none


h1, h2, h3, h4, h5, h6
  line-height: 1em
  font-family: $font-headings
  font-weight: 400
  margin: 0
  padding: 0

h1
  font-size: 3.2rem

h2
  font-size: 2.4rem

h3
  font-size: 2.2rem

h1 + h2
  margin: 1em 0 0 0

h1 + p
  margin: 1.2em 0 0 0

p
  margin-top: 0.5em
  margin-bottom: 0.5em

ul
  list-style: none

ul, li
  margin: 0
  padding: 0

.hidden
  display: none !important

.w-container
  max-width: 1000px
  margin: 0 auto

=trans($time)
  transition: all $time+s ease

// -------------------------------------------
//------------ MEDIA QUERRY MIXIN ------------
// -------------------------------------------

@mixin for-phone-only
  @media (max-width: 599px)
    @content


@mixin for-tablet-portrait-up
  @media (min-width: 600px)
    @content


@mixin for-tablet-portait-only
  @media (min-width: 600px) and (max-width: 899px)
    @content


@mixin for-tablet-landscape-up
  @media (min-width: 900px)
    @content


@mixin for-tablet-landscape-only
  @media (min-width: 900px) and (max-width: 1199px)
    @content


@mixin for-desktop-up
  @media (min-width: 1200px)
    @content


@mixin for-desktop-only
  @media (min-width: 1200px) and (max-width: 1799px)
    @content


@mixin for-big-desktop-up
  @media (min-width: 1800px)
    @content