*
  box-sizing: border-box

// html
//   min-width: 20rem

body
  font-size: 1rem
  line-height: 1.618em

img
  max-width: 100%
  height: auto

a
  text-decoration: none

.hidden
  display: none !important
