// ------------- Vars ---------------------
$blue: #03A9F4
$yellow: #FFB600
$red: #FF2C00
$color-text: #767676

// $color-primary: #455469
// $color-secondary: #be393b
$color-primary: $color-text
$color-secondary: $blue

*
  box-sizing: border-box

html, body
  min-width: 320px

body
  background-color: #fff
  color: $color-primary
  font-size: 1.2rem
  font-family: 'Merriweather Sans', Helvetica
  line-height: 1.518em

img
  max-width: 100%
  height: auto

a
  color: $color-secondary
  text-decoration: none
  &:hover
    text-decoration: underline


h1, h2, h3, h4, h5, h6

h1, h2
  font-family: 'Lato', Helvetica
  font-size: 2.2rem

h2
  font-size: 1.4rem

h3
  font-size: 1.2rem

p
  margin-top: 1em
  margin-bottom: 0.5em
  font-size: 1.2rem

ul
  list-style: none

ul, li
  margin: 0
  padding: 0

.hidden
  display: none !important
