footer
  margin: 6em auto 0 auto
  padding-top: 2em
  border-top: 1px dotted $color-primary
  text-align: center
  a
    padding: 0 10px
    color: $color-primary
    &:hover
      color: $color-secondary

  .copyright
    font-size: 0.8rem
    padding-top: 1rem
    text-align: center
  .fa
    font-size: 1.5em
