header.main
  nav
    background-color: darken($color-secondary, 5%)
    ul
      display: flex
      flex-wrap: wrap
      justify-content: space-around
      li
        width: 33.33%
        text-align: center
      a
        display: block
        padding: 0.6em  
        color: $color-invert
        border-bottom: 1px solid transparent
        &:hover,
        &:focus li
          border-color: $color-invert
