// ------------- Vars ---------------------
$color-primary: #455469
$color-secondary: #be393b

// ------------- Base ---------------------
.hidden
  display: none

body
  font-family: 'Roboto', Helvetica
  // letter-spacing: 0.03em
  font-size: 1.2rem
  color: $color-primary

h1, h2
  font-family: 'Roboto Slab'
  font-size: 2.2rem

h2
  font-size: 1.3rem

h3
  font-size: 1.2rem

p
  margin-top: 0.5em
  margin-bottom: 0.5em

a
  color: $color-secondary
  &:hover
    text-decoration: underline

ul
  list-style: none

ul, li
  margin: 0
  padding: 0

.wrap
  max-width: 1000px
  margin: 0 auto
  .main
    text-align: center
    margin: 80px 0

h3.internship
  color: $color-secondary

date.post-date
  font-size: 0.8em
  font-style: italic
  margin-bottom: 20px
