// -------------------------------------------
// ------------ HERO -------------------------
// -------------------------------------------
.hero
  background-color: $color-secondary
  text-align: center
  padding: 2.4em 0 3.2em 0
  color: $color-invert
  h1
    font-size: 3.4rem
    margin-top: 0.8em
    letter-spacing: 0.05em
  p
    letter-spacing: 0.28em

.img-logo
  width: 12em


// -------------------------------------------
// ------------ HERO -------------------------
// -------------------------------------------